.title {
    margin-bottom: 40px;
    font-size: 22px !important;
}

.reactIcons {
    stroke-width: 1 !important;
    width: 54px;
    height: 54px;
    margin: 15px 0px;
    color: #cc2f33;
    transition: all 0.3s;
}

.serviceText {
    margin-top: 10px;
}

.serviceCard {
    text-align: center;
    backdrop-filter: blur(17px) saturate(200%) !important;
    -webkit-backdrop-filter: blur(17px) saturate(200%) !important;
    background-color: #191919 !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;
    transition: all 0.3s;
}


.serviceCard:hover {
    background-color: #cc2f33 !important;
}

.serviceCard:hover .reactIcons {
    color: #fff;
}

.cardBtn {
    background-color: #191919 !important;
    border: 1px solid #cc2f33;
    color: #fff !important;
    font-size: 14px !important;
}

.cardBtn:hover {
    color: #fff !important;
    border: 1px solid #fff;
}

.btmBtn {
    display: flex;
    justify-content: center;
    color: #fff !important;
    align-items: baseline;
}

.serviceHead {
    text-align: center;
    font-size: 52px !important;
    margin: 0px 0px 40px;
}

.serviceCards {
    justify-content: center;
    gap: 40px;
}

.serviceDTitle {
    font-size: 30px !important;
}

.serviceDdesc {
    font-size: 20px !important;
}

.serviceLists {
    margin-top: 20px !important;
    font-size: 18px !important;
}

.serviceDTitle2 {
    font-size: 22px;
    margin-top: 7px;
}

.serviceLists2 {
    margin-top: 10px !important;
    font-size: 16px !important;
}



/* SoftDev */

.cardBtn2 {
    background-color: #191919 !important;
    border: 1px solid #cc2f33;
    color: #fff !important;
    font-size: 18px !important;
    transition: all 0.3s;
}

.cardBtn2:hover {
    color: #fff !important;
    transform: translateY(-5px);
    background-color: #cc2f33;
    border: 1px solid #fff;
}

.DevProg {
    border: 1px solid #3a3a3a;
    transition: all 0.3s;
}

.DevProg:hover {
    background-color: #cc2f33;
    border: 1px solid;
}

.DevProg:hover p {
    color: #fff;
}

.getStBtn {
    background-color: #cc2f33;
}

.homePageHeroTitles {
    color: #d4d4d4!important;
}

/* BreadCrumb  */
.overlay {
    background-color: #191919d3!important;
    height: 600px!important;
}

/* Testimonials */
