.dropbtn {
    background-color: transparent;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    /* padding: 1rem; */
    color: rgb(101, 189, 251);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(5, 5, 5);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(151, 149, 149);
    padding: 8px 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown a:hover {
    color: #fff;
    text-decoration: none;
}

.show {
    display: block;
}